<div layout="row">
	<div flex></div>
	<md-content flex="30">
		<md-card>
			<img ng-src="/images/bankid.png" class="md-card-image">
			<md-card-title>
				<md-card-title-text>
				<span class="md-headline">{{data.status}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<div flex></div>
				<md-input-container>
					<label>Personal Number Eg - 198112289874</label>
					<input type="text" ng-model="data.pno">
				</md-input-container>
				<md-button class="md-primary md-raised" ng-click="authenticate()">Authenticate</md-button>
				<div flex></div>
			</md-card-actions>
		</md-card>
	</md-content>
	<div flex></div>
</div>